TwitterMVC/TwitterMVC/Service References/TweetService/TweetServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TweetServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62267/TweetServices.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62267/TweetServices.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62267/TweetServices.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITweetServices_InsertTweet_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTweet" />
  </wsdl:message>
  <wsdl:message name="ITweetServices_InsertTweet_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTweetResponse" />
  </wsdl:message>
  <wsdl:message name="ITweetServices_ListTweet_InputMessage">
    <wsdl:part name="parameters" element="tns:ListTweet" />
  </wsdl:message>
  <wsdl:message name="ITweetServices_ListTweet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListTweetResponse" />
  </wsdl:message>
  <wsdl:message name="ITweetServices_DeleteTweet_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTweet" />
  </wsdl:message>
  <wsdl:message name="ITweetServices_DeleteTweet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTweetResponse" />
  </wsdl:message>
  <wsdl:portType name="ITweetServices">
    <wsdl:operation name="InsertTweet">
      <wsdl:input wsaw:Action="http://tempuri.org/ITweetServices/InsertTweet" message="tns:ITweetServices_InsertTweet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITweetServices/InsertTweetResponse" message="tns:ITweetServices_InsertTweet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListTweet">
      <wsdl:input wsaw:Action="http://tempuri.org/ITweetServices/ListTweet" message="tns:ITweetServices_ListTweet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITweetServices/ListTweetResponse" message="tns:ITweetServices_ListTweet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTweet">
      <wsdl:input wsaw:Action="http://tempuri.org/ITweetServices/DeleteTweet" message="tns:ITweetServices_DeleteTweet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITweetServices/DeleteTweetResponse" message="tns:ITweetServices_DeleteTweet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITweetServices" type="tns:ITweetServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertTweet">
      <soap:operation soapAction="http://tempuri.org/ITweetServices/InsertTweet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTweet">
      <soap:operation soapAction="http://tempuri.org/ITweetServices/ListTweet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTweet">
      <soap:operation soapAction="http://tempuri.org/ITweetServices/DeleteTweet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TweetServices">
    <wsdl:port name="BasicHttpBinding_ITweetServices" binding="tns:BasicHttpBinding_ITweetServices">
      <soap:address location="http://localhost:62267/TweetServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>