TwitterPOC/Model/Service References/ServiceProfile/ProfileServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProfileService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tweet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileService" nillable="true" type="tns:ProfileService" />
  <xs:complexType name="ArrayOfProfileService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfileService" nillable="true" type="tns:ProfileService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfileService" nillable="true" type="tns:ArrayOfProfileService" />
</xs:schema>