TwitterPOC/Model/Service References/ServiceProfile/ProfileServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58787/ProfileServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:element name="PostTweet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="pflservice" nillable="true" type="q1:ProfileService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostTweetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostTweetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnIdUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnIdUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnIdUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTweets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTweetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="ListTweetsResult" nillable="true" type="q2:ArrayOfProfileService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTweets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTweetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="SearchTweetsResult" nillable="true" type="q3:ArrayOfProfileService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsernameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Following">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idfollower" type="xs:int" />
        <xs:element minOccurs="0" name="idfollow" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FollowingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Follow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idfollower" type="xs:int" />
        <xs:element minOccurs="0" name="idfollow" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>